<nav class="nav fs-4 justify-content-center align-items-center mb-5">
    <a class="nav-link link-light" href="https://www.facebook.com/StarWars">
        <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a class="nav-link link-light" href="https://www.instagram.com/starwars/">
        <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a class="nav-link link-light" href="https://www.youtube.com/user/starwars">
        <fa-icon [icon]="faYoutube"></fa-icon>
    </a>
    <a class="nav-link link-light" href="https://twitter.com/starwars">
        <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <span class="text-secondary mx-2">|</span>
    <a class="nav-link link-light" href="https://starwarskids.com/">
        <fa-icon [icon]="faKickstarterK"></fa-icon>
    </a>
</nav>
<p class="text-white text-center my-2">TM & © Lucasfilm Ltd. All Rights Reserved</p>
<nav class="nav text-decoration-underline justify-content-center">
    <a class="nav-link link-light" href="terms">Terms of Use</a>
    <a class="nav-link link-light" href="privacy">Privacy Policy</a>
    <a class="nav-link link-light" href="privacy">Privacy Rights</a>
    <a class="nav-link link-light" href="shopdisney">Star Wars at shopDisney</a>
    <a class="nav-link link-light" href="helpdesk">Star Wars Helpdesk</a>
</nav>